.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
*.local
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea
data/
/static/_assets/
/static/favicon*
tmp/
.tmp/
.tmp*/
*.webmanifest
/static/sitemap*
/static/robots*