@import "variables";
@import "breakpoints";
@import "darkmode";

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-card: #{$color-bg-card};
	--color-bg-0: #{$color-bg-0};
	--color-bg-1: #{$color-bg-1};
	--color-bg-2: #{$color-bg-2};
	--color-theme-1: #{$color-theme-1};
	--color-text: #{$color-text};
	--color-btn-1: #{$color-btn-1};
	--color-btn-2: #{$color-btn-2};
	--bg-image: #{$bg-image};

	@include whenDark() {
		--color-bg-card: #{$color-bg-card-dark};
		--color-bg-0: #{$color-bg-0-dark};
		--color-bg-1: #{$color-bg-1-dark};
		--color-bg-2: #{$color-bg-2-dark};
		--color-theme-1: #{$color-theme-1-dark};
		--color-text: #{$color-text-dark};
		--color-btn-1: #{$color-btn-1-dark};
		--color-btn-2: #{$color-btn-2-dark};
		--bg-image: #{$bg-image-dark};
	}

	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-image: var(--bg-image);
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}


pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.text-center {
	text-align: center;
}

.font-weight-bold {
	font-weight: bold;
}

.font-italic {
	font-style: italic;
}

hr {
	width: 100%;
}

hr.default {
	margin: $hr-margin 0;
}

